#classifyBtn {
    width: 100%; 
    margin: 10px 0 0 0;
}

#content {
    padding: 10px 0 0 20px;
    width: 780px;
}

#footer {
    color: #999999;
    font-size: 9pt;
    padding: 5px 0;
    text-align: right;
    width: 800px;
}

#header {
    padding-bottom: 5px;
}

#ontologyText {
    width: 100%; 
}

#queryBtn {
    width: 100px;
}

#sparqlBox h4 {
    display: inline;
    font-size: 12pt;
}



#queryText {
    width: 780px;
}

#sampleOntologies {
    display: block;
    margin-bottom: 10px;
}

#tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tabs li {
    float: left;
    margin: 0 0.4em 0 0;
}

#tabs li a {
    background-color: #F0F0F0;
    border-color: #dcdce9;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    color: #333333;
    display: block;
    float: left;
    font-size: 11pt;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}

#tabs li.active a {
    background-color: #CCCCCC;
    color: #333333;
    font-weight: bold;
}

#tabs li.disabled a {
    background-color: #F0F0F0;
    color: #CCCCCC;
    cursor: default;
}

.classChildrenCount {
    color: #990000;
}

.classLink {
    cursor: pointer;
    text-decoration: underline;
}

.clear {
    clear: both;
}

.highlightText {
    background-color: yellow;
}

.queryResultsTable {
    border-spacing: 0;
    border-width: 1px 1px 0 0;
    border-color: #CCCCCC;
    border-style: solid;
}

.queryResultsTable th, .queryResultsTable td {
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-color: #CCCCCC;
    padding: 2px 10px 2px 10px;
}

.queryResultsTable tr td {
    background-color: #F0F0F0;
}

.queryResultsTable tr th {
    background-color: #DDDDDD;
    font-weight: bold;
    text-align: center;
}

.special {
    font-weight: bold;
}

.tabBox {
    border: 1px solid #dcdce9;
    display: none;
    padding: 10px;
    width: 100%;
}

a {
    color: #666666;
}

body {
    background: #fff url(images/logoleft.gif) no-repeat 6px 44px;
    color: #666666;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0 60px 1px 44px;
    min-height: 100%;
}

html {
    min-height: 100%;
    margin-bottom: 1px;
    overflow-y: scroll;
}